node_modules/
dist/
.vercel
.output
.vinxi
.cache
.data
.wrangler
.env
.env.*
dev-dist
*.tsbuildinfo
*.log
npm-debug.log*
pnpm-debug.log*
wrangler.toml
imports.app.d.ts
imports.node.d.ts
package-lock.json
.specstory/